@media (min-width:600px) {
    #whyUs{
        background-color: rgb(148, 192, 243);
        padding: 50px 150px;
    }
    #whyUs h2{
        color: white;
        text-align: center;
        font-weight: bold;
        padding-bottom: 30px;
    }
    .card{
        height: 300px;
        text-align: center;
    }
    .card h6{
        font-weight: bold;
    }  
    .iconSize{
        height: 80px;
        width: 80px;
    }
}

@media (max-width:600px) {
    #whyUs{
        background-color: rgb(148, 192, 243);
        margin-top: 400px;
        padding: 40px 40px;
    }
    #whyUs h2{
        color: white;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    .card{
        height: 300px;
        text-align: center;
    }
    .card h6{
        font-weight: bold;
    }  
    .iconSize{
        height: 80px;
        width: 80px;
    }
}

